.dash-board {
  height: 100vh;
  background-color:#fff;

  .row {
    height: auto;
    margin: 0 !important;
    position: relative;

    .hamburger{
      opacity: 0;

      div{
        width: 32px;
        height: 3px;
        background-color: black;
        margin: 3px 0;  
      }
    }

    @media screen and (max-width: 768px) {

      .hamburger{
        opacity: 1;
        cursor: pointer;
        z-index: 9999;
        line-height: 60px;
        margin: 15px;
        position: fixed;
      }
      
      .col-left{
        margin-top: 45px;
        width: 300px;
        height: 100vh;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-105%);
        transition: transform 0.5s ease;
      }
      
      .toggleUser{
        transform: translateX(0);
      }

      .col-right{
        .header-right{
          #info-friend{
            float: right;
          }
        }
      }
    }

    .col-left {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      padding: 0 !important;

        .header-left{
          div{
            padding: 10px 0;
          }
          
          i{
            font-size: 60px;

            &::after{
              content: "You";
              font-size: 30px;
            }
          }
  
          .btn-new-chat{
            width: 100%;
            height: 40px;
            background-color: rgb(117, 145, 236);
            border: none;
            border-radius: 20px;
            box-shadow: 2px 6px 8px #888888;
            outline: none;
            color: white;

            &:hover{
              transform: scale(1.06);
            }
          }

          .btn-logout{
            width: 90px;
            height: 40px;
            background-color: #fff;
            border: none;
            border-radius: 20px;
            box-shadow: 2px 6px 8px #888888;
            outline: none;
            transition: all 0.5s ease-in-out;
            opacity: 0.8;

            &:hover{
              transform: scale(1.06);
              opacity: 1;
            }
        }
      }

      .view-users{
        box-sizing: border-box;
        .list-group{
          .list-group-item{
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover{
              background-color: rgb(228, 227, 227);
            }
            
            .avatar{
              width: 50px;
              height: 50px;
              background-color: rgb(235, 158, 158);
              border-radius: 50%;
              margin-right: 20px;
              text-align: center;
              line-height: 50px;
              text-transform: uppercase;
              font-size: 20px;
            }
          }
        }
      }
    }

    .col-right-empty{
      height: 100vh;
      font-size: 50px;
      line-height: 300px;
      text-align: center;
      border-left: 1px solid rgb(199, 195, 195);
      margin-left: auto;
    }
    
    .col-right {
      padding: 10px 0 0 0 !important;
      height: 100%;
      border-left: 1px solid rgb(199, 195, 195);
      margin-left: auto;

      .header-right {
        border-bottom: 1px solid rgb(209, 208, 208);
        width: 100%;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 999;

        #info-friend {
          padding-left: 20px;
          display: flex;
          align-items: center;

          .avatar{
            width: 50px;
            height: 50px;
            background-color: rgb(235, 158, 158);
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            text-transform: uppercase;
            font-size: 20px;
          }

          span{
            margin-left: 10px;
            font-size: 20px;
          }
        }
      }

      .view-chat{
        width: 100%;
        height: auto;
        background-color: #faf9f9;
        padding-top: 35px;

        .user-current{
          overflow-wrap: break-word;
          padding: 10px 20px;
          background-color: #3498db;
          color: white;
          border-radius: 20px;
          inline-size: fit-content;
          max-inline-size: 350px;
          margin: 15px 10px 15px auto;
        }

        div{
          margin-left: 10px;

          span{
            opacity: 0.5;
          }
          .user-friend{
            overflow-wrap: break-word;
            padding: 10px 20px;
            background-color: #d4d5d6;
            color: black;
            border-radius: 20px;
            inline-size: fit-content;
            max-inline-size: 350px;
            margin: 5px auto 5px 0;
          }
        }
        

      }

      .send-text{
        width: 100%;
        position: sticky;
        bottom: 0;

        form{
          display: flex;

          #textBox{
            margin-right: 0 !important;
          }

          i{
            font-size: 25px;
            padding: 8px;
            cursor: pointer;
            margin-right: 15px;

            &:hover{
              color: grey;
            }
          }
        }
      }
    }
  }
}
